*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 62, 12);
}


.title{
    background-color: rgb(56, 25, 25);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}


.rrr{
    background-color: black;
    width: 80%;
    margin: 20px auto;
    border: 5px solid red;
    padding: 20px;
}


.aaa{
    background-color: rgb(77, 182, 155);
    width: 80%;
    height: auto;
    margin: 20px auto;
    border: 5px solid black;
    padding: 30px;
}

.mmm{
    background-color:  rgb(77, 182, 155);
    width: 80%;
    height: auto;
    margin: 20px auto;
    border: 5px solid black;
    padding: 30px;
}
